
#footer{ 
    background-color: rgb(39, 39, 39);
    margin-bottom: 0px;
}

.contact {
    text-align: center;
    padding-top: 30px;
    color: cornsilk;
}

.copyright {
    text-align: center;
    padding-bottom: 30px;
    color: cornsilk;
    margin-bottom: 0;
}

.linkedin {
    width: 14px;
    margin-right: 2px;
    filter: brightness(0) invert(1);
}