
#footer{ 
    background-color: rgb(39, 39, 39);
    margin-bottom: 0px;
}

.contact {
    text-align: center;
    padding-top: 30px;
    color: cornsilk;
}

.copyright {
    text-align: center;
    color: cornsilk;
    margin-bottom: 0;
    padding-bottom: 30px;
}

