.introGrid {
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 16px;
  padding-top: 24px;
}

.introGridSmall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 24px;
}

.introduction {
  padding-left: 36px;
}

.experienceGrid {
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 36px;
  grid-template-rows: 2ch auto;
}

.experienceGrid > .workTime {
  padding-right: 40px;
}

.experienceGridSmall {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 4ch 3ch;
  padding-left: 0;
}

.skillGrid {
  display: grid;
  grid-template-columns: 40% 16% auto;
  grid-gap: 36px;
  grid-template-rows: 1ch auto;
}

.meImgContainer {
  width: calc(100% - 64px);
  display: flex;
  justify-content: center;
}

.meImg {
  height: 60vh;
  max-width: 80%;
  object-fit: cover;
}

/* Skills */
.skillContainer {
  padding-top: 18px;
  padding-bottom: 20px;
}

.skill {
  background-color: rgb(33, 131, 138);
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 2px;
  color: white;
  text-align: end;
  padding-right: 16px;
  font-family: 'Raleway', sans-serif;
}

.noGrade {
  display: none;
}

.awe {
  width: 90%; 
}

.good {
  width: 60%; 
}

.ok {
  width: 30%; 
}

/* Contact information */
.contactInfo{
  color: whitesmoke;
  margin: 0;
  padding: 0;
  text-transform: none;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  margin-right: 64px;
}

.icon {
  filter: brightness(0) invert(1);
  display: inline-block;
  height: 16px;
  padding-right: 6px;
  margin-bottom: -2px;
}

.icon2 {
  filter: brightness(0) invert(1);
  height: 16px;
  margin-bottom: -2px;
}

/* Text styling */
.introTitle {
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.introText {
  font-size: 1.1rem;
}

.title {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  padding-left: 40%;
  margin-left: 24px;
  color: rgb(22, 94, 97);
  margin-top: 30px;
}

.titleSmall {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  width: 80%;
  color: rgb(22, 94, 97);
}

.workTitle { 
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.skillTitle { 
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.workTitle:first-child {
  font-size: 20px;
  text-align: right;
  padding-right: 40px;
  color: white;
}

.workCompanySmall {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;  
  width: 80%;
}

.workTitleSmall {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding-right: 40px;
  color: white;
}

.workTime {
  font-family: 'Raleway', sans-serif;
  color: rgb(254, 255, 179);
  text-align: right;
}

/* .workTimeSmall {
  font-family: 'Raleway', sans-serif;
  color: grey;
  text-align: right;
} */

.headline {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-rows: 1ch;
  color: whitesmoke;
}

.cvHeadline {
  padding-left: 2vw;
  padding-top: 2vh;
}


/* Color in the background */
.leftBg {
  background-color: cadetblue;
  width: 40%;
  height: 100%;
  z-index: -1;
  position: absolute;
}