/* Headlines */
    .headlineContainer {
        margin: 20px;
        display: block;
    }
    
    .block {
        display: inline-block;
        height: 76px;
        background-color: rgba(75, 145, 148, 0.815);
        width: 147px;
    }

    .blockHeader {
        display: inline-block;
        position: absolute;
        left: 116px;
        color: black;
        text-transform: uppercase;
        font-size: 50px;
        letter-spacing: 0px;
        margin: 0;
        align-self: start;
        width: 60%;
        font-family: 'Raleway', sans-serif;
        margin-top: 7px;
    }

    .bH2 {
        position: absolute;
        left: 106px;
    }

    /* Gallery itself */
    .galleryContainer {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .description {
        padding: 5%;
        padding-top: 10vh;
        width: 20%;
        justify-self: center;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 100vh;

    }

    .descHeadline {
        margin: 0;
        font-weight: 400;
        font-size: 26px;
        position: sticky;
        top: 80px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }

    .descText {
        font-size: 18px;
        color: black;
        text-transform: none;
        padding: 20px;
    }

    .gridImg { 
        transition: 0.7s;
    }

    .gridImg:hover {
        transform: scale(1.03);
    }

    .gridList {
        width: 70%;
        height: 600px;
        overflow: hidden;
        overflow-y: hidden;
    }

    .gridListMobile {
        height: 600px;
        overflow: hidden;
        overflow-y: hidden;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 40px;
    }

    /* Dialog */
    .dialogImg {
        max-width: 60%;

    }

    .dialogFlex {
        display: inline-block;
        
    }

    .imgChild {
        display: flex;
    }

    .imgChild div {
        flex-grow: 1;
        width: 0;
      }

    .video {
        max-width: 100%;
    }

    /* Background color */
    .rightBg {
        background-color: rgba(95, 158, 160, 0.349);
        width: 30%;
        height: 100%;
        z-index: -1;
        position: absolute;
        right: 0;
}

/* Mobile */
@media (max-width: 960px) {
    .block {
        display: inline-block;
        height: 46px;
        background-color: rgba(75, 145, 148, 0.815);
        width: 127px;
    }

    .blockHeader {
        font-size: 30px;
    }

    .bH2 {
        position: absolute;
        left: 110px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
        padding: 40px;
    }

    .gallery {
        padding: 10px;
    }
}

    /* @media (min-width: 1280px) {
        .gridList {
            width: 50vw;
            height: 80vh;
            padding-left: 10vw;
        }  
    } */
